/*Estilo para el componentes header*/
.app-header {
    background-color: rgb(0, 17, 255);
    color: rgb(36, 226, 29);
    padding: 15px;
}

.app-header nav a {
    color: rgb(255, 255, 255);
    margin: 0 10px;
    text-decoration: none;
}

.app-header nav a:hover {
    text-decoration: underline;
}

.app-content {
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
}

.app-content h1 {
    margin: 0;
    font-size: 18px;
    color: blue;
}

.app-footer {
    background-color: aliceblue;
    padding: 12px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}